<a href= "{{ path('character_create') }}"> Create Your Character </a>
<br>
<div class="mb-3">
    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>